<div>
  <h1> <%= @lesson.name %> </h1>
  <h4> Lesson <%= @lesson.number %> </h4>
</div>

<ul class="nav nav-tabs">
  <li class="active"> <a> Text </a> </li>
</ul>

<div id="big_box">

  <form role="form" action="/<%= @lesson.id %>" method="post">
    <div class="form-group">
      <input name="_method" type="hidden" value="patch">
      <label for="lesson_content"> Lesson Description: </label>
      <textarea rows="10" cols="50" id="lesson_content" name="content"  class="form-control"  type="text" name="content"><%= @lesson.content %></textarea>
      <label for="lesson_name"> Lesson Name: </label>
      <input id="lesson_name" class="form-control" type="text" name='name' value=" <%= @lesson.name %> ">
      <label for="lesson_number"> Lesson Number: </label>
      <input id="lesson_number" class="form-control" type="text" name='number' value="<%= @lesson.number %>">
    </div>
    <button class="btn btn-success btn-sm"> Update </button>
  </form>

</div>


<div class="navbar navbar-fixed-bottom" id="push_up">
  <div id="copyright" class="container">
    <p>© 2014 <a href="/view" class="red">Epicodus</a>, Inc.</p>
  </div>
</div>

<nav class="navbar navbar-fixed-bottom" role="navigation" id="nav1">
  <div class="container-fluid">
    <div class="navbar-footer">
      <a class="navbar-brand tab_color"  href="/view">Table of Contents</a>
      <p class="navbar-text navbar-right tab_color"><a  href="/" id="lesson_manager">Lesson Manager</a></p>
    </div>
  </div>
