<div class="col-md-4">

  <h1> Epicodus </h1>

  <h3> Create New Lesson </h3>

  <form role="form" action="/<% @lesson.id %>" method="post">
    <div class="form-group">
      <label for="lesson_name"> Lesson Name: </label>
      <input id="lesson_name" class="form-control" type="text" name='lesson[name]' placeholder="Type here...">
      <label for="lesson_number" id="lesson_label"> Lesson Number: </label>
      <input id="lesson_number" class="form-control" type="text" name='lesson[number]' placeholder="#...">
    </div>
    <button class="btn btn-success btn-sm"> Create Lesson </button>
  </form>

  <% if @lesson.errors.any? %>
    <% @lesson.errors.full_messages.each do |message| %>
     <h5 class="red"> <%= message %> </h5>
    <% end %>
  <% end %>
  <h3> Lessons </h3>

  <h5> <%= "< None >" if @lessons.first == nil %> </h5>

  <% @lessons.order('number').each do |lesson| %>
    <p> <%= "#{lesson.number}." %>
      <span id="lesson_name"> <%= lesson.name %> - </span>
      <a href="/<%= lesson.id %>"
                    data-method="delete">
                    <span class="underline"> Delete </span>
      </a>
      <a href="/show/<%= lesson.id%>">  <span class="underline" id="show"> Show </span>
      </a>
    </p>
  <% end %>

</div>

<nav class="navbar navbar-fixed-bottom" role="navigation" id="nav1">
  <div class="container-fluid">
    <div class="navbar-footer">
      <a class="navbar-brand tab_color"  href="/view">Table of Contents</a>
      <p class="navbar-text navbar-right tab_color"><a  href="/" id="lesson_manager">Lesson Manager</a></p>
    </div>
  </div>







